.breadcrumbs {
    padding: 0.6rem 0;
    margin: 0;
    display: block;
    li {
        display: inline-block;
        //font-weight: 100;
        &:before {
            content: "\f105";
            font-family: "FontAwesome";
            padding: 0 10px;
        }
        &:first-child {
            &:before {
                display: none;
            }
        }
        a {
            color: @color-akcent;
            cursor: pointer;
        }
    }
}