.clear-button {
    background: transparent;
    border: 2px solid rgba(0,0,0,0.2);
    font-size: inherit;
    border-radius: 6px;
    padding: 0.3rem 1rem;
    cursor: pointer;
    transition: all 250ms;
    &:hover {
        background: rgba(0,0,0,0.1);
    }
    .uk-icon {
        color: red;
    }
}


.btn {
    @color-btn: #1661a9;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 6px;
    background-color: @color-akcent;
    color: #fff;
    cursor: pointer;
    transition: all 280ms;
    &:hover {
        background: darken(@color-btn, 7%);
    }
    &-prime {
        transition: all 300ms;
        background: @gradient-default;
        box-shadow:
                inset 0 -5px 3px -4px @color-btn,
                0 5px 8px -5px @color-btn;
        &:hover {
            transform: scale(1.05);
            box-shadow:
                    inset 0 -5px 3px -4px @color-btn,
                    0 7px 10px -5px @color-btn;
        }
    }

    &-white {
        background: #fff;
        color: #000;
        border: 1px solid #ccc;
        &:hover {
            background: darken(#fff, 7%);
        }
    }
    .fa {
        margin-right: 5px;
    }
}