.cart-list {
    .table-head {
        .uk-button {
            color: @color-akcent;
        }
    }
    .product__remove {
        color: red  ;
    }
}


.cart-footer {
    padding: 1rem;
    color: #000;
    font-size: 1.5em;
    &__oldprice {
        white-space: nowrap;
        word-break: keep-all;
    }
    &__table {
        width: 100%;
    }
    &__total {
        padding: 0 1rem 0 0;
        .total-word {
            min-width: 80px;
            display: inline-block;
        }
        .old-price {
            display: inline-block;
            color: #999;
        }
        .row {
            small {
                font-weight: 100;
                padding-left: 1rem;
                font-size: 0.7em;
            }
        }
    }
    &__final {
        padding-top: 2rem;
    }
    &__download {
        float: right;
        font-size: 1rem;
        vertical-align: middle;
        padding-top: 1rem;
        text-decoration: underline;
        .fa {
            margin-right: 10px;
            font-size: 1.5rem;
            display: inline-block;
            color: red;
        }
    }
}
