
.catalog {
    &-view-toggler {
        border: none;
        border-radius: @base-border-radius;
        overflow: hidden;
        padding-right: 1px;
        //float: right;
        //padding-top: 0.6rem;
        vertical-align: middle;
        .btn-toggle {
            background: #fff;
            cursor: pointer;
            border: 1px solid #ccc;
            margin-right: -1px;
            padding: 0.3rem 0.4rem;
            transition: all 280ms;
            &_active {
                color: @color-akcent;
            }
            &:first-child {
                border-bottom-left-radius: @base-border-radius;
                border-top-left-radius: @base-border-radius;
            }
            &:last-child {
                border-bottom-right-radius: @base-border-radius;
                border-top-right-radius: @base-border-radius;
            }
            &:hover {
                background: rgba(0,0,0,0.1);
            }
        }
    }
    &-list {
        thead {
            .uk-button-text {
                color: @color-akcent;
            }
        }
        tbody {
            tr {
                td {
                    padding: 0.3rem 0.6rem;
                    vertical-align: middle;
                    color: #000;
                    font-size: 0.9em;
                    .btn {
                        font-weight: 100;
                        font-size: 0.9em;
                        vertical-align: top;
                        padding: 0.3rem 1rem;
                        .uk-icon {
                            vertical-align: middle;
                            margin-right: 5px;
                        }
                    }
                    .add-to-cart {
                        opacity: 0;
                        visibility: hidden;
                    }
                }
                &:hover {
                    td {
                        .add-to-cart {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }
    &-pagination {
        display: inline-block;
        padding: 0 3rem;
    }
    &-perpage {
        width: 250px;
        display: inline-block;
        float: right;
        text-align: right;
        &__select {
            width: 60px;
            margin-left: 10px;
            border-radius: @base-border-radius;
        }
    }
}






.product-tile {
    background: #fff;
    box-shadow: @base-block-shadow;
    border-radius: @base-border-radius;
    width: 200px;
    padding: 1rem;
    transition: all 280ms;
    position: relative;
    margin-bottom: 2rem;
    &__name {
        h4 {
            line-height: 1.1;
            font-size: 1rem;
            font-weight: bold;
        }
    }
    &__description {
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding: 1rem 0;
        .product-param {
            line-height: 1.2;
            padding-bottom: 0.5rem;
            &:last-child {
                padding-bottom: 0;
            }
            &__name {
                font-size: 0.8em;
            }
            &__value {
                font-size: 0.9em;
                font-weight: bold;
                color: #000;
            }
        }
    }
    &__price {
        color: #000;
        font-weight: bold;
        font-size: 1.3rem;
        padding-top: 0.5rem;
    }
    .full-tile {
        visibility: hidden;
        opacity: 0;
        transition: all 230ms;
        position: absolute;
        background: #fff;
        left:0;
        top:0;
        padding: 1rem;
        border-radius: @base-border-radius;
        box-shadow: @base-block-shadow;
    }
    &:hover {
        transform: scale(1.03);
        box-shadow: none;
        z-index: 10;
        .full-tile {
            visibility: visible;
            opacity: 1;
            box-shadow: 0 5px 25px -4px rgba(0,0,0,0.5);
        }
    }
}


.empty-product-tile {
    height: 0;
    width: 200px;
}
