.footer {
    border-top: 1px solid #ccc;
    padding: 2rem 0;
    &__title {
        color: @color-akcent;
        margin: 0;
        display: inline-block;
        padding-bottom: 1rem;
    }
    &_col {
        display: inline-block;
        vertical-align: top;
        padding-right: 4rem;
    }

    &-navigation {
        ul {
            padding: 0;
            margin: 0;
            li {
                list-style: none;
                a {
                    color: #aaa;
                    font-size: 0.9em;
                }
            }
        }
    }
    &-contacts {
        padding-bottom: 1rem;
        &__item {
            margin: 0;
            padding: 0 0 5px;
            font-size: 0.9em;
            b {
                display: inline-block;
                margin: 0;
            }
            p {
                margin: 0;
                padding: 0;
                color: #aaa;
            }
        }
        &__tel {
            font-size: 1.7em;
            text-decoration: none;
            padding: 0 0 0;
            color: #000;
            .fa {
                color: @color-akcent;
            }
        }
        a&__callback {
            color: @color-akcent;
            display: inline-block;
            border-bottom: 1px dashed;
        }
    }
    &-right {
        float: right;
        text-align: right;
        max-width: 340px;
    }

    .logo {
        opacity: 0.7;
        transition: all 250ms;
        &:hover {
            opacity: 1;
        }
    }

    &-copy {
        p {
            color: #aaa;
            font-size: 0.9em;
            margin: 0;
            padding-bottom: 8px;
            line-height: 1.2;
        }
    }
}
