.header {
  padding: 1rem 0;
  .logo {
    margin-top: 10px;
  }
  .mini-cart {
    display: inline-block;
    position: relative;
    color: @color-akcent;
    .uk-badge {
      position: absolute;
      top:-4px;
      right: -7px;
    }
  }
  &-nav {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0 0 3px 1.2rem;
    li {
      display: inline-block;
      list-style: none;
      a {
        padding: 5px 5px;
        display: block;
        color: @base-color;
        font-weight: 500;
      }
    }
  }

  &-cart {
    //border: 1px solid;
    display: inline-block;
    vertical-align: middle;
    padding: 0 3rem;
    &__right {
      float: right;
      //text-align: right;
      padding-left: 1rem;
    }
    &__price {
      font-size: 1.2em;
      font-weight: bold;
      padding-top: 5px;
      color: #000;
      line-height: 1;
    }
    &__link {
    }
  }

  &-contacts {
    float: right;
    text-align: right;
    vertical-align: top;
    a {
      display: block;
      color: @base-color;
      text-decoration: none;
      .fa, .uk-icon {
        color: @color-akcent;
        font-size: 1.2em;
        vertical-align: middle;
        padding-right: 5px;
      }
    }
    &__tel {
      font-size: 1.7em;
      text-decoration: none;
      padding: 0 0 0;
    }
    a&__callback {
      color: @color-akcent;
      display: inline-block;
      border-bottom: 1px dashed;
    }
  }
}

