.homepage {
    background: url("../img/bg.jpg") no-repeat center top;
}

.first-screen {
    padding-top: 3rem;
    .container {
        width: 960px;
    }
    .title {
        font-size: 30px;
        color: rgb(51, 51, 51);
        line-height: 1.2;
        text-align: center;
        font-weight: 400;
    }
    .subtitle {
        text-align: center;
        font-size: 18px;
        color: rgb(51, 51, 51);
        line-height: 1.2;
        font-weight: 300;
    }

    .first_form {
        background: url("../img/form1.png") no-repeat center top;
        padding-top: 70px;
        padding-bottom: 30px;
        min-height: 330px;
        .left {
            width: 315px;
            float: left;
            margin-left: 235px;
            .form-title {
                font-size: 36px;
                text-transform: uppercase;
                color: rgb(0, 75, 136);
                font-weight: 600;
                margin-bottom: 10px;
                & > span {
                    font-size: 30px;
                    display: block;
                }
            }
            .cta {
                font-size: 16px;
                color: rgb(51, 51, 51);
                line-height: 1.2;
                font-weight: 300;
                b {
                    font-weight: bold;
                }
            }
        }
        .right {
            width: 280px;
            float: right;
            text-align: center;
            margin-right: 40px;
            margin-top: -22px;
            padding-top: 2rem;
            &>h4 {
                font-size: 17px;
                color: rgb(51, 51, 51);
                line-height: 1.2;
                font-weight: 400;
            }
            form {
                input {
                    border: 1px solid rgb(235, 235, 235);
                    background-color: rgb(255, 255, 255);
                    width: 224px;
                    height: 35px;
                    padding: 0 15px;
                    font-size: 12px;
                    margin-bottom: 15px;
                    transition: all 300ms;
                    &:focus {
                        border-color: @color-akcent;
                        box-shadow: 0 4px 20px -7px rgba(0,0,0,1);
                        transform:scale(1.1);
                        transition: all 300ms;
                    }
                }
                .blue_btn {
                    background-color: rgb(84, 172, 210);
                    width: 226px;
                    border: none;
                    color: #fff;
                    padding: 10px 15px;
                    text-align: left;
                    font-weight: 300;
                    box-shadow: 3px 3px 0 rgb(44, 130, 201);position: relative;
                    cursor: pointer;
                    transition: all 300ms;
                    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
                    &:after {
                        content: "\f101";
                        font-family: FontAwesome;
                        display: block;
                        width: 28px;
                        height: 28px;
                        background: #fff;
                        color: @color-akcent;
                        position: absolute;
                        font-size: 30px;
                        line-height: 28px;
                        text-align: center;
                        right: 6px;
                        top:6px;
                        transition: all 400ms;
                        text-shadow: none;
                    }
                    &:hover {
                        transform: scale(1.08);
                        transition: all 300ms;
                        &:after {
                            transform: translate(15px,0);
                            transition: all 400ms;
                            box-shadow: 3px 4px 10px -5px rgba(0,0,0,1);
                        }
                    }
                }
            }
        }
    }

}



.i_need {
    text-align: center;
    & > b {
        font-size: 18px;
        color: rgb(51, 51, 51);
        font-weight: bold;
        display: inline-block;
    }
    ul {
        display: inline-block;
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            list-style: none;
            a {
                font-size: 16px;
                color: rgb(51, 51, 51);
                text-decoration: none;
                margin: 0 3px;
                padding: 5px 10px;
                position: relative;
                min-height: 20px;
                display: block;
                font-weight: 300;
                &:before {
                    transition: all 200ms;
                    opacity: 0;
                    content: "";
                    display: block;
                    border: 1px solid @color-akcent;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    left: -5px;
                    top:-5px;
                }
                &:after {
                    transition: all 200ms;
                    content: "";
                    display: block;
                    border: 1px solid @color-akcent;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    left: 8px;
                    top:8px;
                    opacity: 0;
                }
                &:hover {
                    &:before {
                        transition: all 200ms;
                        opacity: 1;
                        left: 0;
                        top:0;
                    }
                    &:after {
                        transition: all 200ms;
                        opacity: 1;
                        left: 3px;
                        top:3px;
                    }
                }
            }
        }

    }
}


.catalog {
    .container {
        width: 960px;
    }
    .title {
        font-size: 30px;
        color: rgb(51, 51, 51);
        text-align: center;
        font-weight: 400;
        margin-bottom: 10px;
        margin-top: 60px;
    }
    .subtitle {
        margin-top: 0;
        font-size: 18px;
        font-weight: 300;
        text-align: center;
    }


    .catalog_wrapper {
        text-align: center;
        .item {
            transition: all 200ms;
            width: 220px;
            display: inline-block;
            vertical-align: top;
            border: 1px solid #ccc;
            min-height: 270px;
            margin: 0 15px 20px 0;
            &:nth-child(4n+4) {
                margin-right: 0;
            }
            .cover {
                height: 150px;
                margin-bottom: 20px;
                overflow: hidden;
                &:after {
                    content: "";
                    border-bottom: 1px solid #ccc;
                    display: block;
                    height: 1px;
                    width: 90%;
                    margin: 0 auto;
                }
                img {
                    height: 100%;
                    display: table;
                    margin: 0 auto;
                    padding: 10px;
                }
            }
            .link {
                color: @color-akcent;
                font-weight: 300;
            }
            &:hover {
                border-color: transparent;
                transition: all 200ms;
                transform: scale(1.1);
                box-shadow: 0 10px 25px -1px rgba(0,0,0,.5);
            }
        }
    }

}


.partners {
    text-align: center;
    .container {
        width: 960px;
    }
    .title {
        font-size: 30px;
        color: rgb(51, 51, 51);
        text-align: center;
    }

    .item {
        transition: all 400ms;
        display: inline-block;
        vertical-align: top;
        width: 170px;
        margin: 7px;
        border: 1px solid transparent;
        .item_logo {
            height: 75px;
            position: relative;
            overflow: hidden;
            img {
                display: table;
                position: absolute;
                left:50%;
                top:50%;
                transform: translate(-50%,-50%);
            }
        }
        .descript {
            height:0;
            overflow: hidden;
            background: #fff;
            border: 1px solid transparent;
            p {
                font-weight: 300;
                padding: 0 8px 5px 8px;
                text-align: justify;
                font-size: 16px;
            }
            .more {
                color: @color-akcent;
                padding-bottom: 10px;
                display: block;
                text-align: center;
                font-weight: 300;
            }
        }
        &:hover {
            transition: all 400ms;
            position: relative;
            border: 1px solid #ccc;
            .descript {
                transition: all 400ms;
                position: absolute;
                width: 101%;
                height: auto;
                background: #fff;
                border: 1px solid #ccc;
                border-top-color: transparent;
                left: -1px;
                z-index: 1;
                box-shadow: 0px 8px 11px -4px rgba(0,0,0,.5);
            }
        }
    }
}




.services {
    text-align: center;
    margin-top: 80px;
    .title {
        font-size: 30px;
        color: rgb(51, 51, 51);
        text-align: center;
    }
    .item {
        position: relative;
        background: url("../img/service_bg.jpg") no-repeat center;
        background-size: cover;
        padding-left: 20px;
        text-align: left;
        width: 460px;
        min-height: 280px;
        display: inline-block;
        vertical-align: top;
        border: 1px solid #ccc;
        margin: 5px 3px;
        padding-top: 15px;
        .service-title {
            font-weight: 300;
        }
        .descript {
            ul {
                width: 295px;
                padding: 0;
                li {
                    list-style: none;
                    font-weight: 300;
                    font-size: 14px;
                    margin-bottom: 6px;
                }
            }
        }
        .actions {
            position: absolute;
            bottom: 12px;
            .link {
                color: @color-akcent;
                font-weight: 300;
                margin-right: 20px;
            }
            .btn_blue {
                background-color: rgb(84, 172, 210);
                width: 115px;
                border: none;
                color: #fff;
                padding: 4px 15px;
                font-size: 14px;
                text-align: left;
                font-weight: 300;
                box-shadow: 3px 3px 0 rgb(44, 130, 201);position: relative;
                cursor: pointer;
                transition: all 300ms;
                text-shadow: 0 1px 0 rgba(0,0,0,0.5);
                &:after {
                    content: "\f101";
                    font-family: FontAwesome;
                    display: block;
                    width: 18px;
                    height: 18px;
                    background: #fff;
                    color: @color-akcent;
                    position: absolute;
                    font-size: 20px;
                    line-height: 18px;
                    text-align: center;
                    right: 6px;
                    top:3px;
                    transition: all 400ms;
                    text-shadow: none;
                }
                &:hover {
                    transform: scale(1.08);
                    transition: all 300ms;
                    &:after {
                        transform: translate(15px,0);
                        transition: all 400ms;
                        box-shadow: 3px 4px 10px -5px rgba(0,0,0,1);
                    }
                }
            }
        }
    }


}




.reasons {
    background: url("../img/bg2.jpg") no-repeat center -5%;
    //margin-top: 50px;
    padding-bottom: 50px;
    padding-top: 3rem;
    .container {
        width: 960px;
    }
    .title {
        font-size: 30px;
        color: rgb(51, 51, 51);
        text-align: center;
        font-weight: 400;
    }

    .eggs {
        text-align: center;
        .item {
            max-width: 180px;
            display: inline-block;
            vertical-align: top;
            font-weight: 300;
            font-size: 14px;
            margin: 20px 65px 10px;
            .ico {
                display: block;
                margin: 0 auto 10px auto;
            }
            .ico_1 {.sprite(@ico1);}
            .ico_2 {.sprite(@ico2);}
            .ico_3 {.sprite(@ico3);}
            .ico_4 {.sprite(@ico4);}
            .ico_5 {.sprite(@ico5);}
        }
    }

    .second_form {
        background: url("../img/form2.png") no-repeat center top;
        padding-top: 70px;
        padding-bottom: 30px;
        min-height: 330px;
        .left {
            width: 315px;
            float: left;
            margin-left: 235px;
            .form-title {
                font-size: 36px;
                text-transform: uppercase;
                color: rgb(0, 75, 136);
                font-weight: 600;
                margin-bottom: 10px;
                & > span {
                    font-size: 30px;
                    display: block;
                }
            }
            .cta {
                font-size: 16px;
                color: rgb(51, 51, 51);
                line-height: 1.2;
                font-weight: 300;
                b {
                    font-weight: bold;
                }
            }
        }
        .right {
            width: 280px;
            float: right;
            text-align: center;
            margin-right: 40px;
            margin-top: 0px;
            padding-top: 2rem;
            &>h4 {
                font-size: 17px;
                color: rgb(51, 51, 51);
                line-height: 1.2;
                font-weight: 400;
            }
            form {
                input {
                    border: 1px solid rgb(235, 235, 235);
                    background-color: rgb(255, 255, 255);
                    width: 224px;
                    height: 35px;
                    padding: 0 15px;
                    font-size: 12px;
                    margin-bottom: 15px;
                    transition: all 300ms;
                    &:focus {
                        border-color: @color-akcent;
                        box-shadow: 0 4px 20px -7px rgba(0,0,0,1);
                        transform:scale(1.1);
                        transition: all 300ms;
                    }
                }
                .blue_btn {
                    background-color: rgb(84, 172, 210);
                    width: 226px;
                    border: none;
                    color: #fff;
                    padding: 10px 15px;
                    text-align: left;
                    font-weight: 300;
                    box-shadow: 3px 3px 0 rgb(44, 130, 201);position: relative;
                    cursor: pointer;
                    transition: all 300ms;
                    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
                    &:after {
                        content: "\f101";
                        font-family: FontAwesome;
                        display: block;
                        width: 28px;
                        height: 28px;
                        background: #fff;
                        color: @color-akcent;
                        position: absolute;
                        font-size: 30px;
                        line-height: 28px;
                        text-align: center;
                        right: 6px;
                        top:6px;
                        transition: all 400ms;
                        text-shadow: none;
                    }
                    &:hover {
                        transform: scale(1.08);
                        transition: all 300ms;
                        &:after {
                            transform: translate(15px,0);
                            transition: all 400ms;
                            box-shadow: 3px 4px 10px -5px rgba(0,0,0,1);
                        }
                    }
                }
            }
        }
    }

}