.leftnav {
    width: 300px;
    background: #fff;
    min-height: 100px;
    border-radius: 6px;
    box-shadow: 0 3px 8px -4px rgba(0,0,0,0.5);
    padding: 1rem 2rem;
    ul {
        padding: 1rem 0;
        margin: 0;
        li {
            list-style: none;
            a {
                font-weight: bold;
                color: @color-akcent;
                padding: 0.5rem 1rem;
                display: block;
                border-radius: 6px;
                //transition: all 0.25s;
                text-decoration: none;
                margin: 2px 0;
                &:hover {
                    background: rgba(0,0,0,0.05);
                }
                &.active {
                    color: #fff;
                    background: @color-akcent;
                }
            }
        }
    }
}
