
// ***** MODAL FORM *******

.modal-form {
    max-width: 400px;
    .form-error {
        color: red;
    }
}
.checkboxes {
    &_container {
        width: 100%;
        margin: 1em 0 0;
    }
    &_item {
        width: 100%;
        margin-bottom: 0.7em;
        position: relative;
        label {
            width: 100%;
            display: table;
            & > input[type=checkbox] {
                display: inline-table;
                float: left;
                margin-right: 1em;
                vertical-align: top;
            }
            .label_text {
                display: inline-table;
                vertical-align: top;
                width: 90%;
                font-size: 11px;
                line-height: 1.3;
                font-weight: normal;
                color: #999;
            }
            .form-error {
                position: absolute;
                font-size: 13px;
                color: #fff;
                font-weight: normal;
                background: indianred;
                //border:1px solid #ccc;
                border-radius: 4px;
                padding: 8px;
                z-index: 2;
                box-shadow: 0 2px 10px -2px rgba(0,0,0,0.5);
                line-height: 1.1;
                &:before {
                    content: "";
                    display: block;
                    border: 7px solid transparent;
                    border-right: 7px solid indianred;
                    position: absolute;
                    left: -14px;
                    top:3px;
                }
            }
        }
    }
}