.navigation {
  width: @container-width;
  margin: 0 auto;
  background: @gradient-default;
  padding: 0.3rem;
  border-radius: 5px;
  position: relative;
  &-list {
    display: inline-block;
    padding: 0 1rem;
    margin: 0;
    > li {
      display: inline-block;
      list-style: none;
      margin: -5px 0;
      padding: 5px 0;
      > a {
        color: #fff;
        line-height: 40px;
        text-transform: uppercase;
        padding: 0 1.5rem;
      }
      &:hover {
        background: rgba(0,0,0,0.1);
        .navigation-subnav {
          transition: all 250ms;
          visibility: visible;
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }

  &-search {
    float: right;
    &__input {
      border-radius: 5px;
      border: none;
      width: 600px;
    }
    &__submit {
      font-size: 16px;
      background: none;
      color: #fff;
      border: none;
      padding: 0 2rem;
      cursor: pointer;
    }
  }

  &-subnav {
    transform: translateY(20px);
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left:0;
    margin-top: 0.3rem;
    background: #fff;
    min-height: 100px;
    border-radius: 5px;
    width: 100%;
    //overflow: hidden;
    box-shadow: 0 5px 40px rgba(0,0,0,0.1), 0 0 10px rgba(0,0,0,0.2);
    z-index: 10;
  }
  &-categories {
    margin: 0;
    list-style: none;
    background: #f6f6f6;
    width: 400px;
    min-height: 100%;
    padding: 1rem 0;
    > li {
      > a {
        display: block;
        padding: 3px 1rem;
        &:hover {
          text-decoration: none;
          border-right: 2px solid @color-akcent;
          background: rgba(0,0,0,0.1);
        }
      }
      &:hover {
        > ul {
          visibility: visible;
          opacity: 1;
        }
      }
      > ul {
        visibility: hidden;
        position: absolute;
        left:400px;
        top:0;
        //border:1px solid red;
        height: 100%;
        width: 800px;
        column-count: 3;
        transition: all 250ms;
        opacity: 0;
        padding: 1rem 2rem;
        margin: 0;
        li {
          list-style: none;
          a {
            display: inline-block;
            padding: 5px 5px 5px 0;
            line-height: 1.1;
            color: @base-color;
            font-weight: 400;
            opacity: 0.8;
            &:hover {
              opacity: 1;
            }
          }
          ul {display: none;}
        }
      }
    }
  }
}
