.product__img {
    width: 50px;
    position: relative;
    overflow: hidden;
    background: #ccc;
}
.product-count {
    width: 70px;
    //border: 1px solid;
    position: relative;
    display: table;
    &__input {
        display: inline-block;
        min-width: inherit;
        width: 20px;
        background: transparent;
        border: none;
        text-align: center;
        position: absolute;
        left:50%;
        transform: translateX(-50%);
    }
    &__plus, &__minus {
        background: none;
        border: none;
        cursor: pointer;
    }
    &__plus {
        float: right;
    }
    &__minus {
        float: left;
    }
}