.smart-filter {
    background: #fff;
    border-radius: @base-border-radius;
    box-shadow: @base-block-shadow;
    &__header {
        padding: 1rem;
    }

    &__title {
        font-weight: bold;
        text-align: center;
        font-size: 1.1rem;
        padding: 0;
        margin: 0;
    }
    &__section {
        padding: 1rem;
        border-top: 1px solid #ccc;
        .uk-form-controls {
            label {
                padding: 5px 0;
                display: block;
                input {
                    margin-right: 7px;
                }
            }
        }
    }
    &__label {
        color: #000000;
        font-weight: bold;
        padding-bottom: 0.5rem;
    }
    &__price-control {
        text-align: center;
        //position: relative;
        .dash {
            display: inline-block;
            padding: 0 0.8rem;
        }
        .uk-input {
            width: 80px;
            text-align: left;
            border-radius: @base-border-radius;
            padding-left: 35px;
        }
        .control {
            position: relative;
            display: inline-block;
            &-label {
                position: absolute;
                left: 10px;
                top:50%;
                transform: translateY(-50%);
                color: #ccc;
                font-size: 0.9em;
            }
        }
    }
    .range-control {
        padding-top: 10px;
        .irs-from, .irs-to, .irs-single, .irs-bar {
            background: @color-akcent;
        }
        .irs-from:after, .irs-to:after, .irs-single:after {
            border-top-color: @color-akcent;
        }
        .irs-slider {
            width: 2px;
            background: darken(@color-akcent,10%);
        }
    }
}
