//@import "vendor/normalize.css";
@import "vendor/jquery.fancybox.css";
@import "vendor/ion.rangeSlider.css";
@import "vendor/slick";
@import "vendor/slick-theme";


// SYSTEM
* { box-sizing: border-box; outline-width: 0; }
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
html {font-size: 14px;}

// LAYOUT
.vlx-minheight {
    min-height: 100vh;
}

.grayscale(@value: 1) {
    -webkit-filter: grayscale(@value);
    -moz-filter: grayscale(@value);
    -o-filter: grayscale(@value);
    -ms-filter: grayscale(@value);
    filter: grayscale(@value);
}



// BASE VARS
//@base-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
@base-color: #000;
@second-color: #ccc;
@color-userbar: lighten(#174b77,5%);
@color-akcent: #2580cc;
@container-width: 1200px;
@base-border-radius:6px;
@base-block-shadow: 0 1px 4px -1px rgba(0,0,0,0.3);
@gradient-default: svg-gradient(to bottom, #1663ab, @color-akcent);

.container {
    width: @container-width;
    margin: 0 auto;
}


// MAIN STYLE
body {
    margin: 0;
    background: #f8f8f8;
}
label {  color: #000;  }


.logo {
    display: inline-block;
    vertical-align: middle;
}


.uk-notification-message {
    background: lightgreen;
    color: #000;
    border-radius: @base-border-radius;
}



.work-area {
    padding: 2rem 0;
}

.bg_white {
    background-color: #fff;
}











// IMPORT BLOCKS


@import "blocks/buttons.less";
@import "blocks/userbar.less";
@import "blocks/header.less";
@import "blocks/navigation.less";
@import "blocks/leftnav.less";
@import "blocks/breadcrumbs.less";
@import "blocks/catalog.less";       // Каталог (список)
@import "blocks/product.row.less";   // Продукт в списке товаров каталога
@import "blocks/smart-filter.less";  // Smart filter для каталога товаров


.left-side {
    width: 30%;
    float: left;
    &_size_catalog {
        width: 20%;
    }
}

.right-side {
    //border: 1px solid blue;
    float: right;
    width: 70%;
    padding-left: 3rem;
    &_size_catalog {
        width: 80%;
        padding-left: 1rem;
    }
}



.content {
    background: #fff;
    box-shadow: @base-block-shadow;
    border-radius: @base-border-radius;
    padding: 1rem;
    &_theme_grid {
        box-shadow: none;
        background: transparent;
        .content {
            &-body {
                padding: 2rem 0;
            }
        }
    }
    &-head {
        &__title {
            display: inline-block;
            vertical-align: middle;
            padding: 0.5rem;
            margin: 0;
            font-weight: bold;
        }
        &__tools {
            display: inline-block;
            vertical-align: middle;
            float: right;
            label {
                margin-right: 8px;
                line-height: 1;
                vertical-align: middle;
            }
        }
    }
    &-body {
    }
    &-footer {
    }
}



/// Detail
.breadcrumbs_detail {
    padding-bottom: 2rem;
    display: block;
}

.detail {
    &-tabs {
        margin-bottom: 0;
        li {
            padding: 0;
            a {
                color: #000;
                padding: 0.6rem 1rem;
                font-weight: bold;
                text-transform: none;
            }
        }
        .uk-active {
            a {
                background: #fff;
                border: 1px solid #ccc;
                border-bottom: 1px solid #fff;
                border-top-left-radius: @base-border-radius;
                border-top-right-radius: @base-border-radius;
                color: @color-akcent;
            }
        }
    }
    &-description {
        margin-top: 2rem;
        .tab-content {
            background: #fff;
            box-shadow: @base-block-shadow;
            &__item {
                width: 70%;
                margin: 0 auto;
                padding: 2rem 0;
            }
        }
    }
    &-slider {
        width: 600px;
        float: left;

        &-nav {
            float: left;
            margin-right: 15px;
            &__image {
                width: 140px;
                height: 140px;
                border: 2px solid @color-akcent;
                margin-bottom: 7px;
                border-radius: @base-border-radius;
                overflow: hidden;
                img {
                    width: 100%;
                }
            }
        }
        &-big {
            border-radius: @base-border-radius;
            box-shadow: @base-block-shadow;
            width: 440px;
            float: right;
            overflow: hidden;
            background: #fff;
            padding: 0 4px;
        }
    }


    &-info {
        width: 574px;
        float: right;
        &-card {
            background: #fff;
            padding: 2rem;
            box-shadow: @base-block-shadow;
            border-radius: @base-border-radius;
            margin-bottom: 2rem;
        }
        &__count {
            display: inline-block;
            vertical-align: top;
            padding-right: 1rem;
            padding-top: 4px;
            label {
                float: left;
                padding-right: 1rem;
                padding-top: 3px;
            }
            .product-count {
                width: 102px;
                &__minus, &__plus {
                    border: 1px solid #ccc;
                    padding: 0 10px;
                    height: 30px;
                    color: #999;
                    .fa {
                        font-size: 1.3rem;
                    }
                }
                &__minus {
                    border-top-left-radius: @base-border-radius;
                    border-bottom-left-radius: @base-border-radius;
                }
                &__plus {
                    border-top-right-radius: @base-border-radius;
                    border-bottom-right-radius: @base-border-radius;
                }
                &__input {
                    border: 1px solid #ccc;
                    font-size: 1.3rem;
                    width: 30px;
                    height: 30px;
                }
            }
        }
        &__title {
            font-size: 1.8rem;
            font-weight: bold;
        }
        &__price {
            font-size: 1.8rem;
        }

        .btn-white {
            vertical-align: top;
            padding: 5px 1rem;
            margin: 0 1rem;
        }
    }
}






.contacts {
    padding-top: 1rem;
    &-card {
        width: 300px;
        background: #fff;
        padding: 2rem;
        border-radius: @base-border-radius;
        box-shadow: @base-block-shadow;
        margin: 1rem;
        &__name {
            font-weight: bold;
            color: #000;
        }
        &__phones {
            padding: 0.6rem 0;
            .uk-icon {
                float: left;
                padding-top: 4px;
            }
            .phones {
                display: table;
                padding-left: 5px;
                > span {
                    display: block;
                }
            }
        }
        &__email {
            padding-bottom: 0.6rem;
        }
        &__addr {
            padding-bottom: 1rem;
        }
        .btn {
            width: 100%;
        }
        .uk-icon {
            color: @color-akcent;
            padding-right: 2px;
        }
    }
}


#map {
    height: 500px;
}
.ymaps-2-1-50-outer-panes, .ymaps-2-1-50-ground-pane {
    .grayscale(1);
}








.order {
    .form-control {
        display: block;
        width: 100%;
        font-size: 1em;
        padding: 0.3rem 1rem;
        border: 1px solid #ccc;
        border-radius: 6px;
    }
    .form-row {
        margin-bottom: 10px;
        b {
            color: #000;
            margin-bottom: 4px;
            margin-left: 1rem;
            display: inline-block;
        }
    }
    .left-col {
        width: 400px;
        display: inline-block;
        margin-right: 10rem;
        vertical-align: top;
    }
    .right-col {
        width: 400px;
        display: inline-block;
        vertical-align: top;
        .reg-form {
            margin-top: 2rem;
        }
    }
    &-block {
        background: #f2f2f2;
        padding: 1.5rem;
        margin-bottom: 1.5rem;
        border-radius: 6px;
        &__title {
            color: #000;
            font-size: 1.2em;
            font-weight: bold;
            margin-bottom: 5px;
        }
    }
    .cart-footer__download {
        float: none;
        margin-left: 20px;
    }
}




@import "blocks/cart_page.less";
@import "blocks/footer.less";
@import "blocks/modal.less";


@import "blocks/sprite.less";
@import "blocks/homepage.less";







