
<section class="footer">
    <div class="container">

        <div class="footer_col footer-navigation">
            <b class="footer__title">Навигация</b>
            <ul>
                <li><a href="">О компании</a></li>
                <li><a href="">Каталог оборудования</a></li>
                <li><a href="">Комплектующие</a></li>
                <li><a href="">Наши услуги</a></li>
                <li><a href="">В помощь клиенту</a></li>
                <li><a href="">Сотрудничество</a></li>
                <li><a href="">Контакты</a></li>
            </ul>
        </div>

        <div class="footer_col footer-contacts">
            <b class="footer__title">Адреса и контакты</b>
            <figure class="footer-contacts__item">
                <b>Адрес</b>
                <p>
                    г. Владимир, ул. Куйбышева, <br>
                    66-Б (Центральный офис)</p>
            </figure>
            <figure class="footer-contacts__item">
                <b>Телефоны</b>
                <p>+7 (4922) 37-31-75</p>
                <p>+7 (4922) 377-277</p>
            </figure>
            <figure class="footer-contacts__item">
                <b>Почта</b>
                <p>info@sever33.ru</p>
            </figure>
        </div>


        <div class="footer-right">
            <div class="footer-contacts">
                <a href="tel:+74922377277" class="footer-contacts__tel">
                    <i class="fa fa-mobile" aria-hidden="true"></i>
                    +7 (4922) 377-277
                </a>
                <a href="javascript:;" class="footer-contacts__callback showModal">Перезвоните мне</a>
            </div>
            <a href="/" class="logo">
                <img src="img/logo.png" alt="sever33 logo">
            </a>
            <div class="footer-copy">
                <p> &copy; Компания &laquo;Север&raquo;, 2006 - 2017 г.</p>
                <p>
                    Профессиональная оргово-холодильная компания <br>
                    в сфере холодильного оборудования <br>
                    и климатической техники
                </p>
            </div>
        </div>

    </div>
</section>