<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>FrontendKit</title>
<meta name="description" content="">
<meta name="keywords" content="">

<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<meta name="viewport" content="user-scalable=yes, width=1100">

<base href="/">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.22/css/uikit.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/ion.rangeSlider.skinFlat.css">


<script src="js/vendor/sourcebuster.min.js"></script>
<script>
    sbjs.init({
        domain: {
            host: 'sever33.ru',
            isolate: true
        }
    });
</script>