<header class="header">
    <div class="container">
        <a href="/" class="logo">
            <img src="img/logo.png" alt="Logo" class="logo__img">
        </a>
        <ul class="header-nav">
            <li><a href="">О компании</a></li>
            <li><a href="">Услуги</a></li>
            <li><a href="">Для клиентов</a></li>
            <li><a href="">Сотрудничество</a></li>
            <li><a href="">Контакты</a></li>
        </ul>

        <div class="header-cart">
            <div class="mini-cart">
                <span uk-icon="icon: cart; ratio: 2"></span>
                <span class="uk-badge">12</span>
            </div>
            <div class="header-cart__right">
                <div class="header-cart__price">
                    235 750.00 &#8381;
                </div>
                <a href="/" class="header-cart__link">В корзину</a>
            </div>
        </div>


        <div class="header-contacts">
            <a href="mailto:info@sever33.ru" class="header-contacts__email">
                <!--<span uk-icon="icon: mail"></span>-->
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                info@sever33.ru
            </a>
            <a href="tel:+74922377277" class="header-contacts__tel">
                <i class="fa fa-mobile" aria-hidden="true"></i>
                +7 (4922) 377-277
            </a>
            <a href="javascript:;" class="header-contacts__callback showModal">Перезвоните мне</a>
        </div>

    </div>
</header>

