<div style="display: none;" id="modal_form" class="modal-form">
    <h2 class="modal_title">Оставьте заявку</h2>
    <p class="modal_subtitle">и мы перезвоним вам в течении 10 минут</p>
    <form action="/php/submit.php" class="orderForm">
        <input type="text" class="form-control" name="name" placeholder="Ваше Имя:"> <br>
        <input type="tel" class="form-control" name="phone" placeholder="Введите телефон:"> <br>
        <input type="email" class="form-control" name="email" placeholder="Введите E-mail:"> <br>
        <button type="submit" class="btn btn-block modal_submit">Оставить заявку</button>

        <div class="checkboxes_container">
            <div class="checkboxes_item">
                <label>
                    <input type="checkbox" name="personalAgreement" checked required>
                    <span class="label_text">
                        Я даю свое согласие на обработку персональных данных и соглашаюсь
                        с условиями и политикой конфиденциальности
                    </span>
                </label>
            </div>

            <div class="checkboxes_item">
                <label>
                    <input type="checkbox" checked>
                    <span class="label_text">
                        Я хочу получать Email-письма о мероприятиях и/или иных услугах
                    </span>
                </label>
            </div>
        </div>

    </form>
</div>