<nav class="navigation">
    <ul class="navigation-list">
        <li>
            <a href="" class="">Оборудование</a>

            <div class="navigation-subnav">
                <ul class="navigation-categories">
                    <li><a href="">Торговое холодильное оборудование</a></li>
                    <li><a href="">Промышленное холодильное оборудование</a></li>
                    <li><a href="">Технологическое оборудование</a></li>
                    <li><a href="">Нейтральное оборудование</a></li>
                    <li><a href="">Климатическая техника</a></li>
                    <li><a href="">Тепловое оборудование</a></li>
                    <li><a href="">Оборудование б/у</a></li>
                </ul>
            </div>

        </li>
        <li>
            <a href="" class="">Комплектующие</a>
            <div class="navigation-subnav">
                <ul class="navigation-categories">
                    <li><a href="/components/4474/" class="parent">Водонагреватели</a></li>
                    <li><a href="/components/4522/" class="parent">Водоснабжение | Водоотведение</a></li>
                    <li><a href="/components/4409/" class="parent">Инструмент</a></li>
                    <li>
                        <a href="/components/4431/" class="parent">Кабель-провод | КиП</a>
                        <ul>
                            <li><a href="/components/4524/">Автоматический выключатель</a></li>
                            <li><a href="/components/4576/">Автоматы защиты (мото-автоматы)</a></li>
                            <li><a href="/components/4537/">Доп контакты на контакторы</a></li>
                            <li><a href="/components/4536/">Зажимы</a></li>
                            <li><a href="/components/4471/">Изолента</a></li>
                            <li><a href="/components/4499/" class="parent">Кабель канал и гофра</a>
                                <ul>
                                    <li><a href="/components/4622/">Гофра</a></li>
                                    <li><a href="/components/4500/">Кабель канал</a></li>
                                    <li><a href="/components/4607/">Клипсы</a></li>
                                </ul>
                            </li>
                            <li><a href="/components/4608/" class="parent">Кабель-провод</a>
                                <ul>
                                    <li><a href="/components/4609/">ВВГ</a></li>
                                    <li><a href="/components/4611/">КГ</a></li>
                                    <li><a href="/components/4626/">МКЭШ</a></li>
                                    <li><a href="/components/4615/">ПВ( ПУГВ)</a></li>
                                    <li><a href="/components/4616/">ПВС</a></li>
                                    <li><a href="/components/4614/">ПУГНП</a></li>
                                    <li><a href="/components/4632/">СиП</a></li>
                                    <li><a href="/components/4621/">ШВВП</a></li>
                                </ul>
                            </li>
                            <li><a href="/components/4620/">Клеммы WAGO</a></li>
                            <li><a href="/components/4625/">Кнопки</a></li>
                            <li><a href="/components/4432/" class="parent">Контакторы</a>
                                <ul>
                                    <li><a href="/components/4434/">220V</a></li>
                                    <li><a href="/components/4433/">24V</a></li>
                                    <li><a href="/components/4534/">380V</a></li>
                                </ul>
                            </li>
                            <li><a href="/components/4612/">Лоток для укладки кабеля</a></li>
                            <li><a href="/components/4643/">Наконечники</a></li>
                            <li><a href="/components/4573/">Предохранители</a></li>
                            <li><a href="/components/4600/">Распределительные коробки</a></li>
                            <li><a href="/components/4436/">Реле</a></li>
                            <li><a href="/components/4575/">Розетки и вилки</a></li>
                            <li><a href="/components/4569/">Световая арматура</a></li>
                            <li><a href="/components/4449/">Трансформаторы</a></li>
                            <li><a href="/components/4472/">Хомут-стяжка</a></li>
                            <li><a href="/components/4631/">Шкафы управления</a></li>
                            <li><a href="/components/4518/" class="parent">Щиты метал и пластик</a>
                                <ul>
                                    <li><a href="/components/4519/">Аксесуары для щитового оборудования</a></li>
                                    <li><a href="/components/4528/">ЩРНП</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="/components/4424/" class="parent">Крепеж</a></li>
                    <li><a href="/components/4407/" class="parent">Оборудование и материал для пайки</a></li>
                    <li><a href="/components/4450/" class="parent">Стиральные машины</a></li>
                    <li><a href="/components/4447/" class="parent">Технологическое оборудование</a></li>
                    <li><a href="/components/4400/" class="parent">Холодильное и климатическое оборудование</a></li>
                </ul>
            </div>
        </li>
    </ul>

    <div class="navigation-search">
        <form action="">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: search"></span>
                <input class="uk-input navigation-search__input" type="text" name="search" placeholder="Поиск по каталогу&hellip;">
            </div>
            <button type="submit" class="navigation-search__submit">Выполнить поиск</button>
        </form>
    </div>
    <div class="clearfix"></div>
</nav>
