<section class="userbar">
    <div class="container">
        <ul class="userbar__list">
            <li>Оснащаем и обслуживаем кафе</li>
            <li>Гостинницы</li>
            <li>Магазины</li>
            <li>Офисы</li>
            <li>Рестораны</li>
        </ul>
        <div class="userbar-profile">
            <span uk-icon="icon: user"></span>
            <div class="userbar-profile__name">Пупкин А. А.</div>
            <span uk-icon="icon: chevron-down"></span>
            <div class="userbar__nav">
                <ul>
                    <li><a href=""><span uk-icon="icon: home"></span> Личный кабинет</a></li>
                    <li><a href=""><span uk-icon="icon: tag"></span> Мои заказы</a></li>
                    <li><a href=""><span uk-icon="icon: cart"></span> Корзина</a></li>
                    <li><a href="" class="userbar__nav_red"><span uk-icon="icon: sign-out"></span> Выход</a></li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</section>